In [46]:
import pandas as pd
import pickle

In [41]:
station_detail = pd.read_csv('alford3.csv', header = None)

In [42]:
station_detail.columns = ['STATION','DIVISION','1','Division','Stop Name','2','3','4']

In [48]:
station_detail.drop(['1','2','3','4'], axis = 1, errors = 'ignore', inplace = True)
station_detail.head()

          STATION DIVISION Division         Stop Name
0            1 AV      BMT      BMT              1 Av
1          104 ST      BMT      BMT            104 St
2          111 ST      BMT      BMT            111 St
3          121 ST      BMT      BMT            121 St
4  14 ST-UNION SQ      BMT      BMT  14 St - Union Sq

In [49]:
station_csv = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')
station_csv.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

In [51]:
stations = station_csv.sort_values(['Stop Name','Division']).groupby(['Stop Name','Division']).head(1)

In [56]:
mta_station_detail = pd.merge(station_detail,stations, how = 'left', left_on = ['Stop Name','Division'], right_on = ['Stop Name','Division'])

In [58]:
with open('mta_station_detail.pickle', 'wb') as to_write:
    pickle.dump(mta_station_detail, to_write)